Variables

A variable is a symbolic name or reference used to store data in a program. It acts as a container that holds values that can be changed or reused during the execution of a program. Variables are fundamental in programming, allowing developers to manipulate and store data efficiently.

Key Features:
Name: A variable has a unique identifier (name) given by the programmer.

Value: The data or value assigned to the variable.

Type: The kind of data a variable holds (e.g., integer, string, float, etc.).

Scope: Defines where the variable can be accessed in a program.

In [22]:
a=100

In [23]:
## Declaring and Assigning Variables

age=21
height=5.8
name="Gowtham"
is_student=True

#printing thr variables

print("age :",age)
print("height :",height)
print("name :",name)

age : 21
height : 5.8
name : Gowtham

In [24]:
#Naming Convinctions
#Variables names should be descriptive
#They must start with a letter or an '_' and contains letter,numbers and underscores
# variables names case sensitive

#valid variable names

first_name="Gowtham"
last_name="Koppera"

In [25]:
#Invalid variable names
'''2age=21
first-name="Gowtham"
@name="Bhuvan Chandra"

'''

'2age=21\nfirst-name="Gowtham"\n@name="Bhuvan Chandra"\n\n'

In [26]:
#case sensitivity

name="Ram"
Name="laxman"

name==Name

False

In [27]:
#understing variables types 
#pyhton is dynamically typed , type of veriables is determined at runtime
age = 21#int
height = 5.8#float
name = "Gowtham"#str
is_student = True#bool

print(type(name))

<class 'str'>

In [28]:
#Type Checking and Conversion 

type(height)

float

In [29]:
age = 21
print(type(age))



#Type conversion

age_str = str(age)
print(age_str)
print(type(age_str))

<class 'int'>
21
<class 'str'>

In [30]:
age ='25'
print(type(int(age)))

<class 'int'>

In [31]:
hight=5.10
type(height)

float

In [32]:
int(height)

5

In [33]:

print(type(height))

<class 'float'>

In [34]:
#Dynamic Typing
#python allows the type of a vraible to change as the program executes

var =10#int
print(var,type(var))


var="Hello"
print(var,type(var))

var=3.18
print(var,type(var))

10 <class 'int'>
Hello <class 'str'>
3.18 <class 'float'>

In [36]:
##input 

age=int(input("What is your age:"))
print(age,type(age))

54 <class 'int'>

In [39]:
#Simple Calculator

num1=float(input("enter first numner:" ))
num2=float(input("Enter second number :"))

sum = num1+num2
difference = num1 - num2
product =num1 * num2
quotient = num1 / num2

print("Sum:", sum)
print("difference: ",difference)
print("Product :",product)
print("Quotient:",quotient)

Sum: 14.0
difference:  -4.0
Product : 45.0
Quotient: 0.5555555555555556