### Sets

Sets are built-in data type in Python used to store  collection of unique items. they are unordered,meaning that the elements do not follow a specific order, and they do not allow duplicate elements.Sets are useful for membership tests,eliminating duplicate entries, and performaing mathematicalset like union,intersecion , difference ,and symmetric difference.

In [2]:
#create a set
my_set  = {1,2,3,4,5}
print(my_set)
print(type(my_set))

{1, 2, 3, 4, 5}
<class 'set'>

In [4]:
my_empty_set =set()
print(type(my_empty_set))

<class 'set'>

In [6]:
my_empty_set =set([4,5,8,9,6,7])
print(type(my_empty_set))
print(my_empty_set)

<class 'set'>
{4, 5, 6, 7, 8, 9}

In [18]:
my_set =set([4,5,8,9,1,9,7,1,5,5,8,7,2,9,7])
print(my_set)

{1, 2, 4, 5, 7, 8, 9}

In [19]:
## Basic Set Operaitons
## Adding and removing Elements

my_set.add(3)
print(my_set)

{1, 2, 3, 4, 5, 7, 8, 9}

In [20]:
## removing the Elements from the set

my_set.remove(9)
print(my_set)

{1, 2, 3, 4, 5, 7, 8}

In [21]:
my_set.remove(98)#got error because the num is not in set

KeyError: 98

In [22]:
my_set.discard(11)#discard method is used to remove element
print(my_set)

{1, 2, 3, 4, 5, 7, 8}

In [24]:
#pop elements 

print(my_set)
rem_elem =my_set.pop()
print(rem_elem)
print(my_set)

{1, 2, 3, 4, 5, 7, 8}
1
{2, 3, 4, 5, 7, 8}

In [25]:
## clear the all elements

my_set.clear()
print(my_set)

set()

In [26]:
## Set Membership test 

my_set = {1,2,3,4,5}
print(3 in my_set)
print(78 in my_set)

True
False

In [30]:
## Mathematical operations

set1={4,5,7,8,9,10}
set2={1,2,3,4,5,6,}

#Union 

union_set = set1.union(set2)
print(union_set)

#Intersection

intersection_set =set1.intersection(set2)
print(intersection_set)

set1.intersection_update(set2)
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{4, 5}
{4, 5}

In [31]:
set1={1,2,3,4,5,6}
set2={4,5,6,7,8,9}

#Difference
print(set1.difference(set2))

{1, 2, 3}

In [32]:
print(set2.difference(set1))

{8, 9, 7}

In [33]:
## Symmetric Difference
set1.symmetric_difference(set2)

{1, 2, 3, 7, 8, 9}

In [36]:
## Sets Methods

set1={1,2,3}
set2={1,2,3,4,5,8,9,10}

#is subset
print(set1.issubset(set2))

#is superset
print(set1.issuperset(set2))

True
False

In [39]:
lst =[1,2,3,4,4,5,1,2,3,5,5]
lst1=set(lst)
print(lst1)

{1, 2, 3, 4, 5}

In [42]:
### counting unique words in text

text ="In the tutorial we are discussing about sets"
words=text.split()
print(words)


## convert list of words to set to get unique words
unique_word =set(words)
print(unique_word)
print(len(unique_word))

['In', 'the', 'tutorial', 'we', 'are', 'discussing', 'about', 'sets']
{'discussing', 'about', 'we', 'tutorial', 'In', 'sets', 'are', 'the'}
8